@tailwind base;
@tailwind components;
@tailwind utilities;


/* ! SHARED CSS */

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, #000000 94%, #0000) top/8px 8px no-repeat,
        conic-gradient(#0000 30%, #000000);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: l13 1s infinite linear;
}

@keyframes l13 {
    100% {
        transform: rotate(1turn)
    }
}


/* ? REMOVE THE DEFAULT BEHAVIOR OF THE AUTOCOMPLETE INPUT FIELD */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: inherit;
}

.sidebar-active {
    background-color: #e5e7eb;
    position: relative;
}

.sidebar-active::before {
    content: "";
    background-color: #3c50e0;
    height: 100%;
    width: 4px;
    border-radius: 8px;
    position: absolute;
    left: 0;
}

.categories-items::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

.categories-items::-webkit-scrollbar-thumb {
    background-color: #f6f6f6;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25) inset;
}

.categories-items::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;

}

.categories-items::-webkit-scrollbar-track {
    background: #e5e7eb;
    border-radius: 10px;
}


.dashboard-container::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
}

.dashboard-container::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25) inset;
}

.dashboard-container::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;

}

.dashboard-container::-webkit-scrollbar-track {
    background: #fafafa;
    border-radius: 10px;
}


/* ! END SHARED CSS */



/* ? ANIMATIONS */

/* ? TOASTER */
.toaster {
    animation: toaster-bottom-to-top 0.3s ease-in-out;
}

@keyframes toaster-right-to-left {
    0% {
        transform: translateX(100%)translateY(0);
    }

    100% {
        transform: translateX(0)translateY(0);
    }
}

@media screen and (min-width: 640px) {
    .toaster {
        animation: toaster-right-to-left 0.3s ease-in-out;
    }
}


@keyframes toaster-bottom-to-top {
    0% {
        transform: translateX(-50%)translateY(100%);
    }

    100% {
        transform: translateX(-50%)translateY(0);
    }
}

/* ? END TOASTER */


/* ? SIDEBAR */

@media screen and (min-width: 640px) {
    .sidebar-left-to-right {
        animation: sidebar-left-to-right 0.2s ease-in-out;
    }
}

@keyframes sidebar-left-to-right {
    0% {
        width: 60px;
    }

    100% {
        width: 200px;
    }
}

/* @media screen and (min-width: 640px) { */
/* .sidebar-right-to-left {
        animation: sidebar-right-to-left 0.2s ease-in-out;
        } */
/* } */

@keyframes sidebar-right-to-left {
    0% {
        width: 200px;
    }

    100% {
        width: 60px;
    }
}

/* ? END SIDEBAR */


/* ? COMMON */
.scale-animation {
    animation: scale-increasing 0.2s ease-in-out;
}

@keyframes scale-increasing {
    0% {
        scale: 0;
        opacity: 0;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}


.fade-animation {
    animation: fade 0.2s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.right-to-left-animation {
    animation: right-to-left 0.2s ease-in-out;
}

@keyframes right-to-left {
    0% {
        transform: translateX(100%)translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateX(0)translateY(0);
        opacity: 1;
    }
}

.top-to-bottom-animation {
    animation: top-to-bottom 0.2s ease-in-out;
}

@keyframes top-to-bottom {
    0% {
        transform: translateX(0)translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0)translateY(0);
        opacity: 1;
    }
}

/* ? COMMON */

/* ? END ANIMATIONS */


/* ! SHADCN */

@layer base {
    :root {
        --radius: 0.5rem;
    }
}


@layer base {
    :root {
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .dark {
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

