@tailwind base;
@tailwind components;
@tailwind utilities;


/* ! SHARED CSS */

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, #000000 94%, #0000) top/8px 8px no-repeat,
        conic-gradient(#0000 30%, #000000);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: l13 1s infinite linear;
}

@keyframes l13 {
    100% {
        transform: rotate(1turn)
    }
}


/* ? REMOVE THE DEFAULT BEHAVIOR OF THE AUTOCOMPLETE INPUT FIELD */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: inherit;
}


.sidebar-active {
    background-color: #e5e7eb;
    position: relative;
}

.sidebar-active::before {
    content: "";
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 4px;
    border-radius: 8px;
    position: absolute;
    left: 0;
}

.categories-items::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

.categories-items::-webkit-scrollbar-thumb {
    background-color: #f6f6f6;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25) inset;
}

.categories-items::-webkit-scrollbar-thumb:hover {
    /* Color on hover */
    border-radius: 8px;

}

.categories-items::-webkit-scrollbar-track {
    background: #e5e7eb;
    /* Background color of the scrollbar track */
    border-radius: 10px;
    /* Rounding the corners */
}


.dashboard-container::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
}

.dashboard-container::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25) inset;
}

.dashboard-container::-webkit-scrollbar-thumb:hover {
    /* Color on hover */
    border-radius: 8px;

}

.dashboard-container::-webkit-scrollbar-track {
    background: #fafafa;
    /* Background color of the scrollbar track */
    border-radius: 10px;
    /* Rounding the corners */
}

/* ! END SHARED CSS */