@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar-active {
    background-color: #e5e7eb;
    position: relative;
}

.sidebar-active::before {
    content: "";
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 4px;
    border-radius: 8px;
    position: absolute;
    left: 0;
}

.categories-items::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

.categories-items::-webkit-scrollbar-thumb {
    background-color: #f6f6f6;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25) inset;
}

.categories-items::-webkit-scrollbar-thumb:hover {
    /* Color on hover */
    border-radius: 8px;

}

.categories-items::-webkit-scrollbar-track {
    background: #e5e7eb;
    /* Background color of the scrollbar track */
    border-radius: 10px;
    /* Rounding the corners */
}


.dashboard-container::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
}

.dashboard-container::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25) inset;
}

.dashboard-container::-webkit-scrollbar-thumb:hover {
    /* Color on hover */
    border-radius: 8px;

}

.dashboard-container::-webkit-scrollbar-track {
    background: #fafafa;
    /* Background color of the scrollbar track */
    border-radius: 10px;
    /* Rounding the corners */
}